.connect__container{
    @include flexCenterColumn;

    h1{
        margin-bottom: 30px;
        margin-top: 50px;
    }

    &__buttons{
        @include flexSpaceBetween;
        width: 250px;
        margin-bottom: 30px;

        button{
            border: 2px solid $black;
        }
    };
}